@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&display=swap');


:root{
   --Violet: hsl(257, 40%, 49%);
   --softMagenta: hsl(300, 69%, 71%);
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-image: url(../Images/bg-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    background-color:var(--Violet);
  
}
.logo img{
    width: 20%;
    margin-bottom: 20px;
}



.main_container{
    padding:0px;
    margin: 30px 35px;
}
main{
    display: flex;
    flex-direction: row;
    gap: 20px;
   
}

.sub_container{
    display: flex;
    flex-direction: column;
    margin:30px;
   align-items: flex-start;
   
 
}


h1{
   
    font-family: 'poppin', sans-serif;
    color: white;
    margin-bottom:  20px;
    
      
}
p{
    font-family: 'Open Sans',sans-serif;
    font-size: 18px;
    color: white;
    margin-bottom:  15px;
}


.btn{
    padding: 10px 50px;
    border-radius: 20px;
    border:none;
    background-color: white;
    text-decoration: none;
    font-weight: 500;
  font-family: 'Open Sans', sans-serif;
    font-size: 16 px;
    color: var(--Violet);
    box-shadow: 3px 3px 5px black;
}

.icon{
    display: flex;
    justify-content: flex-end;
    gap:15px;
    color: white;

}
.fab{
    
    padding:7px;
    margin:8px;
    border-radius: 50px;
    border:1px solid #fff;   
}
footer{
    text-align: center;
    color: white;
}

/*MEDIA  QUERY*/ 
@media screen  and (max-width:600px){
   
    body{
        background-image: url(/images/bg-desktop.svg);
        background-repeat: no-repeat;
        background-size: contain;
       margin: 20px;
       padding: 10px;
        
    }
    main{
        display: flex;
        flex-direction: column;
       
        
    }
    .logo img{
        width: 150px;
        margin-top: 10px;
        padding: 0px;
    }
    h1{
        text-align: center;
        font-size: 30px;
    }
    p{
        text-align: left;
        font-size: 18px;
    }
    .btn{
        padding: 10px 60px;
        border-radius: 20px;
        border:none;
        background-color: white;
        text-decoration: none;
        font-weight: 500;
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
        color: var(--Violet);
        box-shadow: 3px 3px 5px black;
        margin: 20px;
    }
    .icon{
        display: flex;
        justify-content: center;
    }
    footer{
        margin: 20px;
    }
    .mockup img{
        width: 300px;
        margin: 10px;
    }
    }








